/*google font import = Orbitron and inria-sans-light */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Header styling*/
header {
    background-color: #183153;   
}

header img {
    max-width: 100%;
    margin-left: 5px;
}

/* Body styling*/
body {
    margin: 0;
    font-family: 'inria-sans-light', sans-serif;
    font-size: 1.0rem;
    font-weight: bold;
    background-color: #183153;
}

.text-center {
    text-align: center;
}

/* main content styling */
main {
    margin: 0;
    background-color: #183153;
    color: white;
}

.players-text {
    margin: 0;
    padding-top: 10px;
}

.btn-game-button {
    display: inline-block;
    padding: 10px 5px 5px 5px;
    border: none;    
    font-size: 1.3rem;
    background-color: #183153;
}

i {
    padding: 20px 20px 20px 20px;
    font-size: 120%;
    border: 2px solid white;
    border-radius: 15px;
    color: white;

}

i:hover {
    border: 2px solid lightgreen;
    cursor: pointer;
}

#playerScore,
#computerScore {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2rem;
}

#game-board-info {
    background-color: #183153;
}

#game-board {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 25px;
    border: 2px solid white;
    border-radius: 15px;

}

.btn-hide-pose-btns {
    display: none;
}

.btn-show-pose-btns {
    display: block;
}


#text-versus {
    padding-top: 10px;
    font-style: italic;
}

#text-tries-left {
    padding-top: 10px;
}

#game-stats-choice,
#game-stats-scores,
#text-tries-left {
    font-family: 'Orbitron', sans-serif;
    font-size: 85%;
}

.btn-game-controls {
    padding-top: 10px;
    font-size: 0.7rem;
}

#Instructions{   
    display: none;
}

#Instructions li{   
    padding: 5px;
    margin-right:13px;
    list-style-type: none;    
}

.style-winning-text {
    color: lightgreen;
}

.style-loosing-text {
    color: lightcoral
}

.style-draw-text {
    color: orange
}

footer {
    background-color: #183153;
}

/*media queries */

/* Tablets and larger */
@media screen and (min-width: 768px) {

    main {
        height: 40vh;
        font-size: 130%;
        padding: 20px;
    }

    #game-board {
        margin: auto;
        border-radius: 15px;
    }

    #game-stats {
        display: flex;
        margin-left: 18%;
        padding-top: 20px;
        width: 80%;
        text-align: left;
    }

    #text-versus {
        padding: 20px 10px 10px 110px;
        font-size: 170%;
    }

    #game-stats-scores {
        padding-right: 10px;
        width: 220px;
        text-align: right;
        font-size: 80%;
    }

}

/* media query for laptops, desktops etc...*/
@media screen and (min-width: 992px) {

    body {
        background-color: #021526;
    }

    main {
        margin-top: 3%;
        height: 50vh;
        font-size: 170%;
        background-color: #021526;
    }

    #game-board {
        margin-top: 10px;
        padding-bottom: 30px;
        width: 40%;
        margin: auto;
        border-width: 3px;
        font-size: 80%;
        background-color: #183153;
    }

    #game-stats {
        display: flex;
        margin-left: 5%;
        padding-top: 20px;
        width: 80%;
    }

    #game-stats-choice {
        margin-right: 5%;
        margin-left: 5%;
        padding-left: 10%;
        width: 220px;
        text-align: left;
        font-size: 80%;
    }

    #game-stats-scores {
        padding-right: 10px;
        width: 220px;
        text-align: right;
        font-size: 80%;
    }

    #text-versus {
        padding: 20px 12px 10px 10px;
        font-size: 170%;

    }

    .btn-game-button {
        padding: 15px 15px 15px 15px;
        display: inline-block;
        font-size: 150%;
    }

    #playerScore,
    #computerScore {
        font-size: 110%;
    }

}

/*larger screens/resolutions*/
@media screen and (min-width: 2560px) {

    #game-stats {
        margin-left: 11%;
        padding-top: 20px;
    }

}
