/*google font import = Orbitron and inria-sans-light */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

header {
    background-color: #183153;
    text-align: center;
}
header img {
    max-width: 100%;
    margin-left: 5px;
}

main {
    background-color: #183153;
    color: white;
    margin: 0;
    
}

body {
    background-color: #183153;
    font-family: 'inria-sans-light', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.text-center {
    text-align: center;
}

.btn-game-button {
    border: none;
    text-align: center;
    padding: 10px 5px 5px 5px;
    background-color: #183153;
    display: inline-block;
    font-size: 1.3rem;      
}

i {
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    color: white;
    
}

i:hover {
    border: 2px solid red;
}

#playerScore,
#computerScore {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.3rem;
}

#game-board-info {
    background-color: #183153;
 
}

#game-board {
    border: 2px solid white;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 25px;
}


.btn-game-controls {
    font-size: 0.6rem;
    padding-top: 10px;
}
.style-winning-text{
    color: green;
}
.style-loosing-text{
    color: orange;
}

footer {
    background-color: #183153;
}

/*media queries */

/* Tablets and larger */
@media screen and (min-width: 768px) {

    header {
        text-align: center;
    }
    
    /*header img {
       margin-left: 5%;            
        width: 50%;
    }
*/
    main {
        font-size: 130%;
        padding: 20px;
        height: 40vh;
    }

    #game-board {
        border-radius: 15px;
       margin:auto;
    }
}


/* media query for laptops, desktops etc...*/
@media screen and (min-width: 992px) {

    header {
        text-align: center;
    }

   /* header img {
        margin: auto;
        width: 612px;
        height: 148px;
        text-align: center;
    }
*/
    body {
       
        background-color: #021526;
    }

    main {
        background-color: #021526;
        font-size: 170%;
        margin-top: 5%;
        height: 50vh;
    }

    #game-board {
        margin-top: 10px;
        width:40%;
        margin: auto;
        background-color: #183153;
        padding-bottom: 30px;
        border-width: 3px;
        font-size: 80%;
    }

    #game-stats {

        display: flex;      
        margin-left: 20px;
        padding-top: 20px;
        width: 80%;        
    }

    #game-stats-choice{
       
        width: 220px;
        
        text-align: left;
        margin-right: 5%;
        margin-left: 5%;
        padding-left: 10%;
    }
    #game-stats-scores {
       
        text-align: right;
        width: 220px;
        padding-right: 10px;

    }
    

    #text-versus {
       padding-left: 10px;
        padding-top: 20px; 
        padding-right:10px;
        padding-bottom: 10px;
        font-size: 170%;
        font-style: italic;
    }

    .btn-game-button {
        padding: 15px 15px 15px 15px;
        display: inline-block;
        font-size: 150%;
    }

    #playerScore,
    #computerScore {
        font-size: 110%;
    }
  
}